@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}
header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
header .logo 
{
    padding: 10px;
}
header .logo img
{
    border-radius: 15px;
    vertical-align: middle;
}
header .logo h2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
#home
{
    background-image: url(images/home.webp);
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

#home .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}
#home .home-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
#july-movement {
    padding: 50px;
    background-color:#333;
    text-align: center;
    color: white;
}
#july-movement h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
#july-movement p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
#july-movement a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}